/todo-api/node_modules
/todo-ui/node_modules
/todo-api/public/hot
/todo-api/public/storage
/todo-api/storage/*.key
/todo-api/vendor
/todo-api.env
/todo-api.env.backup
/todo-api.phpunit.result.cache
/todo-apiHomestead.json
/todo-apiHomestead.yaml
/todo-apinpm-debug.log
/todo-apiyarn-error.log
.vscode
